<a href="https://colab.research.google.com/github/Yonah-Tech/DATA-SCIENCE-UICT-AUGUST-2025/blob/main/Data_Science_Lecture_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
name = input("What is your first name: ")
print(name)

What is your first name: Odongkara Yonah
Odongkara Yonah

In [4]:
a = 55
print(a)

b = 0.34
print(a,b)

55
55 0.34

In [5]:
c = 42
d = 55
print(c+d)

97

In [6]:
g = c+d
print(g)

97

In [20]:
num1 = input(("First Number"))
num2 = input(("Second Number"))
Difference = num1-num2\
print(Difference)

First Number8
Second Number6
2

In [13]:
student = ("Yonah Odongkara")
print(student)

Yonah Odongkara

In [21]:
#String functions, uppercase, lowercase, capitalize
student.upper
print(student.upper())
student.capitalize
print(student.capitalize())
student.lower
print(student.lower())

YONAH ODONGKARA
Yonah odongkara
yonah odongkara

In [22]:
color = 'purple'
car = 'BMW'
print(f'Odongkara wants a {color} {car}')

Odongkara wants a purple BMW

DATA STRUCTURES

In [25]:
#LISTS
#Length of Lists
cars = ['Benz','Subaru', 'Ist', 'Land Cruiser']
print(cars)

print(len(cars))

['Benz', 'Subaru', 'Ist', 'Land Cruiser']
4

In [41]:
#Append
cars.append('Toyota')
print(cars)
#Extend
cars.extend(['Kia', 'Honda'])
print(cars)

['Subaru', 'Toyota', 'Toyota']
['Subaru', 'Toyota', 'Toyota', 'Kia', 'Honda']

In [27]:
#Sort; Ascending Order
cars.sort()
print(cars)

['Benz', 'Ist', 'Land Cruiser', 'Subaru', 'Toyota']

In [32]:
#Indexing
print(cars[2])
print(cars[0])
print(cars[1])

Land Cruiser
Benz
Ist

In [39]:
#Removing
cars.remove('Ist')
print(cars)

['Benz', 'Subaru', 'Toyota']

In [40]:
del cars[0]
print(cars)

['Subaru', 'Toyota']

In [34]:
#Slicing: Returns a portion of the list through indexing
print(cars[0:2])

['Benz', 'Ist']

In [42]:
#Insert
cars.insert(0,'Toyota')
print(cars)

['Toyota', 'Subaru', 'Toyota', 'Toyota', 'Kia', 'Honda']